body {

    background-image: url("https://images2.alphacoders.com/807/807567.jpg");
    background-size: cover;
}
.panel-body{
	background-color: #000000;
}
p {
	color: green;
}
h1 {
	color: green !important;
}
h3 {
	color: green !important;
}
footer {
	background-color: black;
	color: red;
	text-align: center;
}